@model SampleWebApp.Models.SectionListViewModel

@{
	ViewBag.Title = "Sections";
}

<h2>Sections</h2>
<h4>Found @Model.Sections.Count sections</h4>
<table class="table table-bordered table-striped">
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Medium</th>
		<th>&nbsp;</th>
	</thead>
	@{
		foreach (dynamic section in Model.Sections)
		{
			<tr>
				<td>@(section.id)</td>
				<td>@(section.uniqueSectionCode)</td>
				<td>@(section.mediumOfInstruction)</td>
				<td><a data-toggle="modal" href="@Url.Action("GetStudents", new { sectionId = section.id })" data-target="#SectionDetailModal">show students</a></td>
			</tr>
		}
	}
</table>

<div id="SectionDetailModal" class="modal hide fade">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Students</h3>
  </div>
  <div class="modal-body">
	<!--Loaded Dynamically-->
  </div>
  <div class="modal-footer">
	<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>